In [1]:
import pandas as pd
# from math import radians, cos, sin, asin, sqrt
from matplotlib import pyplot as plt
%matplotlib inline
%pylab inline
pylab.rcParams['figure.figsize'] = (11, 8)
import seaborn as sns

Populating the interactive namespace from numpy and matplotlib

<h3> Data Dictionary :</h3>
<ul>
<li>id - a unique identifier for each trip</li>
<li>vendor_id - a code indicating the provider associated with the trip record</li>
<li>pickup_datetime - date and time when the meter was engaged</li>
<li>dropoff_datetime - date and time when the meter was disengaged</li>
<li>passenger_count - the number of passengers in the vehicle (driver entered value)</li>
<li>pickup_longitude - the longitude where the meter was engaged</li>
<li>pickup_latitude - the latitude where the meter was engaged</li>
<li>dropoff_longitude - the longitude where the meter was disengaged</li>
<li>dropoff_latitude - the latitude where the meter was disengaged</li>
<li>store_and_fwd_flag - This flag indicates whether the trip record was held in vehicle memory before sending to the vendor because the vehicle did not have a connection to the server - Y=store and forward; N=not a store and forward trip</li>
<li>trip_duration - duration of the trip in seconds</li>
</ul>

In [2]:
url="/media/rama/ANYTHING/DataSets/train.csv"
nyc=pd.read_csv(url,index_col=0)
nyc.head(5)

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
id,,,,,,,,,,
id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [4]:
nyc['pickup_datetime']=pd.to_datetime(nyc['pickup_datetime'])
# nyc['pickup_datetime'].dt.date

In [5]:
# Check missing data
nyc.isnull().sum()

vendor_id             0
pickup_datetime       0
dropoff_datetime      0
passenger_count       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude     0
dropoff_latitude      0
store_and_fwd_flag    0
trip_duration         0
dtype: int64

In [6]:
# Data Info
nyc.dtypes
nyc.info()
nyc.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 1458644 entries, id2875421 to id1209952
Data columns (total 10 columns):
vendor_id             1458644 non-null int64
pickup_datetime       1458644 non-null datetime64[ns]
dropoff_datetime      1458644 non-null object
passenger_count       1458644 non-null int64
pickup_longitude      1458644 non-null float64
pickup_latitude       1458644 non-null float64
dropoff_longitude     1458644 non-null float64
dropoff_latitude      1458644 non-null float64
store_and_fwd_flag    1458644 non-null object
trip_duration         1458644 non-null int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(2)
memory usage: 122.4+ MB

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration
count,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06
mean,1.534950e+00,1.664530e+00,-7.397349e+01,4.075092e+01,-7.397342e+01,4.075180e+01,9.594923e+02
std,4.987772e-01,1.314242e+00,7.090186e-02,3.288119e-02,7.064327e-02,3.589056e-02,5.237432e+03
min,1.000000e+00,0.000000e+00,-1.219333e+02,3.435970e+01,-1.219333e+02,3.218114e+01,1.000000e+00
25%,1.000000e+00,1.000000e+00,-7.399187e+01,4.073735e+01,-7.399133e+01,4.073588e+01,3.970000e+02
50%,2.000000e+00,1.000000e+00,-7.398174e+01,4.075410e+01,-7.397975e+01,4.075452e+01,6.620000e+02
75%,2.000000e+00,2.000000e+00,-7.396733e+01,4.076836e+01,-7.396301e+01,4.076981e+01,1.075000e+03
max,2.000000e+00,9.000000e+00,-6.133553e+01,5.188108e+01,-6.133553e+01,4.392103e+01,3.526282e+06

In [7]:
# ('2011-01-03','%Y')

nyc['tmp_pickuptime']=pd.to_numeric(nyc['pickup_datetime'].dt.strftime('%w'))
# nyc['tmp_pickuptime']=pd.to_numeric(nyc['tmp_pickuptime'])
def to_day(dy):
#     dy = x.dt.strftime('%w')
#     print(dy.all())
    if dy == 0:
        return 'Sunday'
    elif dy == 1:
        return 'Monday'
    elif dy == 2:
        return 'Tuesday'
    elif dy == 3:
        return 'Wednesday'
    elif dy == 4:
        return 'Thursday'
    elif dy == 5:
        return 'Friday'
    elif dy == 6:
        return 'Saturday'
    else:
        return 'no format'

# to_day()
nyc['pickup_day']=nyc['tmp_pickuptime'].apply(to_day)

In [9]:
nyc['tmp_pickuphour']=pd.to_numeric(nyc['pickup_datetime'].dt.strftime('%H'))

def rush_hour(hy):
    if hy == 7 or hy == 9:
        return 'Morning'
    elif hy == 17 or hy == 19:
        return 'Evening'
    else:
        return 'no label'

nyc['pickup_hour']=nyc['tmp_pickuphour'].apply(rush_hour)
# nyc.dtypes

In [10]:
# Amount of trips by vendor
# trips=nyc.groupby('vendor_id').count()['pickup_datetime']
# trips
# Amount of trips per day
# trips_day=nyc.groupby(nyc['pickup_datetime'].dt.date).count()['vendor_id']
# trips_day
# sns.barplot()
    #TODO: Visualize it
# Amount of passengger per datetime
# passenger=nyc.groupby(nyc['pickup_datetime'].dt.date).sum()['passenger_count']
# passenger
    #TODO: Visualize it
# Trip duration by vendor
# duration_trip_v=nyc.groupby('vendor_id').sum()['trip_duration']
# duration_trip_v

# Trip duration/amount per day
# duration_trip = nyc.groupby(nyc['pickup_day']).count()['trip_duration']
# duration_trip.sort_values(ascending=False)

# Trip amount per rush hours(7to9 and 17to19)
trips_rush_hour=nyc.groupby(['pickup_day','pickup_hour']).count()['trip_duration']
trips_rush_hour

pickup_day  pickup_hour
Friday      Evening         25203
            Morning         20160
            no label       178170
Monday      Evening         23091
            Morning         18627
            no label       145700
Saturday    Evening         24319
            Morning         11606
            no label       184943
Sunday      Evening         20741
            Morning          9201
            no label       165424
Thursday    Evening         24750
            Morning         21327
            no label       172497
Tuesday     Evening         24130
            Morning         21005
            no label       157614
Wednesday   Evening         24557
            Morning         21337
            no label       164242
Name: trip_duration, dtype: int64

In [8]:
nyc.head(100)

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,tmp_pickuptime,pickup_day,tmp_pickuphour,pickup_hour
id,,,,,,,,,,,,,,
id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,1,Monday,17,Evening
id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,0,Sunday,0,no label
id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,2,Tuesday,11,no label
id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,3,Wednesday,19,Evening
id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,6,Saturday,13,no label
id0801584,2,2016-01-30 22:01:40,2016-01-30 22:09:03,6,-73.982857,40.742195,-73.992081,40.749184,N,443,6,Saturday,22,no label
id1813257,1,2016-06-17 22:34:59,2016-06-17 22:40:40,4,-73.969017,40.757839,-73.957405,40.765896,N,341,5,Friday,22,no label
id1324603,2,2016-05-21 07:54:58,2016-05-21 08:20:49,1,-73.969276,40.797779,-73.922470,40.760559,N,1551,6,Saturday,7,Morning
id1301050,1,2016-05-27 23:12:23,2016-05-27 23:16:38,1,-73.999481,40.738400,-73.985786,40.732815,N,255,5,Friday,23,no label
id0012891,2,2016-03-10 21:45:01,2016-03-10 22:05:26,1,-73.981049,40.744339,-73.973000,40.789989,N,1225,4,Thursday,21,no label
id1436371,2,2016-05-10 22:08:41,2016-05-10 22:29:55,1,-73.982651,40.763840,-74.002228,40.732990,N,1274,2,Tuesday,22,no label
id1299289,2,2016-05-15 11:16:11,2016-05-15 11:34:59,4,-73.991531,40.749439,-73.956543,40.770630,N,1128,0,Sunday,11,no label
id1187965,2,2016-02-19 09:52:46,2016-02-19 10:11:20,2,-73.962982,40.756680,-73.984406,40.760719,N,1114,5,Friday,9,Morning
id0799785,2,2016-06-01 20:58:29,2016-06-01 21:02:49,1,-73.956306,40.767941,-73.966110,40.763000,N,260,3,Wednesday,20,no label
id2900608,2,2016-05-27 00:43:36,2016-05-27 01:07:10,1,-73.992195,40.727226,-73.974655,40.783070,N,1414,5,Friday,0,no label
id3319787,1,2016-05-16 15:29:02,2016-05-16 15:32:33,1,-73.955513,40.768593,-73.948761,40.771545,N,211,1,Monday,15,no label
id3379579,2,2016-04-11 17:29:50,2016-04-11 18:08:26,1,-73.991165,40.755562,-73.999290,40.725353,N,2316,1,Monday,17,Evening
id1154431,1,2016-04-14 08:48:26,2016-04-14 09:00:37,1,-73.994255,40.745804,-73.999657,40.723343,N,731,4,Thursday,8,no label
id3552682,1,2016-06-27 09:55:13,2016-06-27 10:17:10,1,-74.003983,40.713013,-73.979195,40.749924,N,1317,1,Monday,9,Morning
id3390316,2,2016-06-05 13:47:23,2016-06-05 13:51:34,1,-73.983887,40.738197,-73.991203,40.727871,N,251,0,Sunday,13,no label
id2070428,1,2016-02-28 02:23:02,2016-02-28 02:31:08,1,-73.980370,40.742420,-73.962852,40.760635,N,486,0,Sunday,2,no label
id0809232,2,2016-04-01 12:12:25,2016-04-01 12:23:17,1,-73.979538,40.753361,-73.963997,40.763458,N,652,5,Friday,12,no label
id2352683,1,2016-04-09 03:34:27,2016-04-09 03:41:30,1,-73.995865,40.758812,-73.993324,40.740322,N,423,6,Saturday,3,no label
id1603037,1,2016-06-25 10:36:26,2016-06-25 10:55:49,1,-73.993553,40.747173,-74.006142,40.704384,N,1163,6,Saturday,10,no label
id3321406,2,2016-06-03 08:15:05,2016-06-03 08:56:30,1,-73.955231,40.777134,-73.788750,40.641472,N,2485,5,Friday,8,no label
id0129640,2,2016-02-14 13:27:56,2016-02-14 13:49:19,1,-73.956581,40.771358,-73.974968,40.732792,N,1283,0,Sunday,13,no label
id3587298,1,2016-02-27 21:56:01,2016-02-27 22:14:51,1,-73.983765,40.749874,-73.958832,40.800961,N,1130,6,Saturday,21,no label
id2104175,1,2016-06-20 23:07:16,2016-06-20 23:18:50,1,-73.958435,40.713192,-73.949539,40.680252,N,694,1,Monday,23,no label
id3973319,2,2016-06-13 21:57:27,2016-06-13 22:12:19,1,-73.994217,40.713306,-73.982849,40.692299,N,892,1,Monday,21,no label
id1410897,1,2016-03-23 14:10:39,2016-03-23 14:49:30,1,-73.982117,40.756351,-73.865692,40.770988,N,2331,3,Wednesday,14,no label
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
id3896508,2,2016-06-07 22:32:32,2016-06-07 22:46:06,1,-73.863380,40.769890,-73.837128,40.721359,N,814,2,Tuesday,22,no label
id2846400,2,2016-03-16 20:13:12,2016-03-16 20:23:49,1,-73.997253,40.717960,-73.999252,40.730019,N,637,3,Wednesday,20,no label
id1510700,2,2016-02-20 21:58:13,2016-02-20 21:59:10,1,-73.958397,40.772629,-73.955132,40.774242,N,57,6,Saturday,21,no label
id0813128,2,2016-02-20 18:57:43,2016-02-20 19:07:32,2,-73.991203,40.749554,-73.979195,40.746307,N,589,6,Saturday,18,no label
id1158195,1,2016-03-24 17:58:51,2016-03-24 18:36:46,1,-73.992325,40.730721,-73.872505,40.774498,N,2275,4,Thursday,17,Evening
id0959273,1,2016-03-20 23:16:39,2016-03-20 23:27:26,1,-73.988838,40.768902,-73.955536,40.771744,N,647,0,Sunday,23,no label
id0739660,1,2016-05-16 13:07:10,2016-05-16 13:34:18,3,-73.964722,40.806606,-73.984573,40.760677,N,1628,1,Monday,13,no label
id3769871,1,2016-06-17 17:32:59,2016-06-17 18:11:56,1,-73.943146,40.789631,-73.989479,40.762764,N,2337,5,Friday,17,Evening
id1818021,1,2016-03-23 00:34:10,2016-03-23 00:45:24,1,-74.011169,40.703606,-74.005692,40.741360,N,674,3,Wednesday,0,no label
id0982165,2,2016-04-12 21:29:16,2016-04-12 21:49:06,1,-73.980316,40.758850,-74.010139,40.705082,N,1190,2,Tuesday,21,no label
id1519515,2,2016-06-11 12:52:19,2016-06-11 13:12:10,1,-73.950493,40.771267,-74.001244,40.746490,N,1191,6,Saturday,12,no label
id1082443,2,2016-02-25 14:56:26,2016-02-25 15:09:31,1,-73.987122,40.768475,-73.975822,40.759712,N,785,4,Thursday,14,no label
id2934884,2,2016-01-07 19:32:15,2016-01-07 19:40:55,1,-73.986389,40.756615,-73.999794,40.761631,N,520,4,Thursday,19,Evening
id1205949,1,2016-06-05 18:43:14,2016-06-05 18:46:52,1,-73.962608,40.758827,-73.954193,40.764053,N,218,0,Sunday,18,no label
id2592310,2,2016-06-13 07:20:46,2016-06-13 07:24:28,1,-73.990417,40.756882,-73.981979,40.759991,N,222,1,Monday,7,Morning
id0883711,1,2016-01-16 21:22:41,2016-01-16 21:42:45,1,-73.993637,40.734219,-73.961464,40.769299,N,1204,6,Saturday,21,no label
id0283075,1,2016-04-06 23:42:26,2016-04-07 00:12:08,1,-73.782478,40.644646,-73.981125,40.720886,N,1782,3,Wednesday,23,no label
id2107497,1,2016-05-13 20:46:55,2016-05-13 21:06:29,2,-74.013954,40.712833,-73.997551,40.718075,N,1174,5,Friday,20,no label
id2090852,2,2016-01-28 11:25:20,2016-01-28 11:30:56,1,-73.968826,40.754196,-73.972755,40.746613,N,336,4,Thursday,11,no label
id1297351,2,2016-06-24 14:24:31,2016-06-24 14:32:21,1,-74.003288,40.726971,-73.993301,40.739120,N,470,5,Friday,14,no label
id0667605,2,2016-05-27 16:17:36,2016-05-27 16:23:22,1,-73.991058,40.739571,-74.006104,40.734550,N,346,5,Friday,16,no label
id1476107,1,2016-05-22 15:41:29,2016-05-22 15:48:28,1,-73.966881,40.788681,-73.962822,40.775726,N,419,0,Sunday,15,no label
id0673727,2,2016-05-18 19:15:27,2016-05-18 19:44:49,1,-73.961678,40.775967,-73.857391,40.733284,N,1762,3,Wednesday,19,Evening
id2030290,1,2016-03-31 11:33:30,2016-03-31 12:12:31,3,-73.864319,40.769829,-73.985863,40.760952,N,2341,4,Thursday,11,no label
id3770790,1,2016-02-13 13:12:49,2016-02-13 13:19:35,1,-73.992233,40.744282,-74.008232,40.748825,N,406,6,Saturday,13,no label
id3025098,2,2016-01-20 19:21:31,2016-01-20 19:31:27,1,-73.976982,40.750301,-73.999123,40.739510,N,596,3,Wednesday,19,Evening
id3333094,2,2016-06-02 23:34:00,2016-06-02 23:41:15,1,-73.973465,40.755230,-73.977364,40.742821,N,435,4,Thursday,23,no label
id2228940,1,2016-02-04 13:22:02,2016-02-04 13:40:30,1,-73.981865,40.758774,-73.970222,40.784142,N,1108,4,Thursday,13,no label
id2102594,1,2016-03-30 16:14:29,2016-03-30 17:01:33,1,-73.789841,40.643559,-73.970665,40.687279,N,2824,3,Wednesday,16,no label
id0010677,1,2016-04-29 10:40:34,2016-04-29 10:53:23,2,-73.991974,40.749996,-73.977882,40.754894,N,769,5,Friday,10,no label

In [ ]:
#TODO 
# Hitung Jarak
# Test pakai linear regression

In [15]:
def haversine(lat1, lon1, lat2, lon2):
    MILES = 3959
    lat1, lon1, lat2, lon2 = map(np.deg2rad, [lat1, lon1, lat2, lon2])
    dlat = lat2 - lat1 
    dlon = lon2 - lon1 
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arcsin(np.sqrt(a)) 
    total_miles = MILES * c
    return total_miles

In [27]:
# nyc['Distance']=nyc['longlat'].apply(haversine)

# nyc['Distance'][0][1]

nyc['distance']=nyc.apply(lambda col: haversine(col['pickup_latitude'], col['pickup_longitude'], 
                                                col['dropoff_latitude'], col['dropoff_longitude']),axis=1)

In [28]:
nyc.head(10)

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,tmp_pickuptime,pickup_day,tmp_pickuphour,pickup_hour,distance
id,,,,,,,,,,,,,,,
id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,1,Monday,17,Evening,0.931195
id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,0,Sunday,0,no label,1.121959
id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,2,Tuesday,11,no label,3.967761
id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,3,Wednesday,19,Evening,0.923103
id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,6,Saturday,13,no label,0.738600
id0801584,2,2016-01-30 22:01:40,2016-01-30 22:09:03,6,-73.982857,40.742195,-73.992081,40.749184,N,443,6,Saturday,22,no label,0.682893
id1813257,1,2016-06-17 22:34:59,2016-06-17 22:40:40,4,-73.969017,40.757839,-73.957405,40.765896,N,341,5,Friday,22,no label,0.824162
id1324603,2,2016-05-21 07:54:58,2016-05-21 08:20:49,1,-73.969276,40.797779,-73.922470,40.760559,N,1551,6,Saturday,7,Morning,3.551343
id1301050,1,2016-05-27 23:12:23,2016-05-27 23:16:38,1,-73.999481,40.738400,-73.985786,40.732815,N,255,5,Friday,23,no label,0.814266
id0012891,2,2016-03-10 21:45:01,2016-03-10 22:05:26,1,-73.981049,40.744339,-73.973000,40.789989,N,1225,4,Thursday,21,no label,3.182339